*{
  margin: auto;
  box-sizing: border-box;
}

body{
  width: 1000px;
}
.product{
  height: 372px;
  width: 300px;
position: relative;
display: inline-block;
}

#cuore{
  position: absolute;
  bottom: 100px;
}
.discount.red{
  font-style: bold;
  background-color: red;
  border-radius: 20%;
  position: absolute;
  right: 10px;
  top: 20px;
}
.cuore{
  visibility: hidden;
}

.product:hover{
  visibility: visible ;
}
