*{
  margin: auto;
  box-sizing: border-box;
}

body{
  width: 1000px;
}
.product{
  height: 372px;
  width: 300px;
position: relative;
display: inline-block;
}

#cuore{
  font-size: 30px;
  color:red;
  position: absolute;
  left: 50%;
  bottom: 0px;
  visibility: hidden;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}

.product:hover #cuore{
  visibility: visible ;
}

.discount{
  border-radius: 20%;
  position: absolute;
  right: 10px;
  top: 20px;
}
